.header {
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}
.header span {
  margin-right: 40px;
}

.cols {
  /* margin-left: 30px; */
  padding-left: 50px;
  /* color: aliceblue; */
}
