.loginForm {
  margin-left: 55%;
  margin-top: 15%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  padding: 100px 10px 100px 10px;
  text-align: center;
  /* opacity: 0.5; */
  border-radius: 25px;
}

.login-right {
  background-image: url(../pictures/images/login-background1.png);
  background-color: wheat;
  background-size: 50vw;
  width: 100vw;
  height: 100vh;
}
