.loginForm {
  margin-left: 60vw;
  margin-top: 15vh;
  width: 35vh;
  background-color: rgb(255, 255, 255);
  padding: 100px 30px 100px 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.login-right {
  background-image: url(../pictures/images/login-background1.png);
  background-color: wheat;
  background-size: 50vw;
  width: 100vw;
  height: 100vh;
}
