@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.loginForm {
  margin-left: 60vw;
  margin-top: 15vh;
  width: 35vh;
  background-color: rgb(255, 255, 255);
  padding: 100px 30px 100px 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.login-right {
  background-image: url(../pictures/images/login-background1.png);
  background-color: wheat;
  background-size: 50vw;
  width: 100vw;
  height: 100vh;
}
.header {
  background: #f0f0f0;
}
.ant-list-bordered .ant-list-header {
  padding-right: 0px;
  padding-left: 0px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.ant-list {
  height: 64px;

  background: #f0f0f0;
}
.ant-list-header {
  /* background: #f0f0f0; */

}
